@model DAN_WEB.Models.SinhVien

<table class="table table-borderless">
    <tr>
        <th><label asp-for="Tensv" class="control-label"></label> </th>

    </tr>
    <tr>
        <td>@Model.Tensv</td>

    </tr>
</table>