@model DAN_WEB.Models.Lop

<table class="table table-borderless">
    <tr>
        <th><label asp-for="Tenlop" class="control-label"></label> </th>
        
    </tr>
    <tr>
        <td>@Model.Tenlop</td>
       
    </tr>
</table>


